* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #040404, #2d90f3);
    overflow-x: hidden;
    color: white;
    font-family: monospace;
}

header {
    width: 100%;
    background-color: aqua;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #040404;
}

a:hover {
    color: #1b9519;
}

h1, h2, h3, p, button{
    margin-left: 10px;
}

.video-container{
    margin-left: 550px;
    
}

@media screen and (max-width: 740px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .video-container{
        margin-left: 0px;
        width: 200px;
        height: 210px;
    }
    video{
        width: 200px;
        height: 210px;
    }
    
}